__pycache__/
*.pyc
.venv/
.env
.vscode/
.DS_Store
*.log
*.sqlite3
*.db
*.egg-info/
dist/
build/
*.ipynb_checkpoints
tools/__pycache__/
client/__pycache__/
mcp_tiny.egg-info/
utils/__pycache__/
my_env/
tools/genai/__pycache__/
tools/math/__pycache__/
tools/text/__pycache__/
